<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vehiclelicense">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".HelpActivity"></activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/NoActionBar" />
        <activity android:name=".SignUp" />

        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="pk_test_737be3a9ec30e7b956a2a6988dbba30e83b84286" />

        <activity android:name=".MakePayment" />
        <activity android:name=".Discover" />
        <activity android:name=".ForgotPassword" />
        <activity
            android:name=".Homepage"
            android:label="@string/title_activity_homepage" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>